body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Muli', sans-serif; }

.show {
  display: block; }

.hide {
  display: none; }

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100px;
  font-family: 'Philosopher', sans-serif; }
  .nav .logo {
    margin-right: auto;
    margin-left: 10px;
    color: #FF3B49;
    border: 3px solid #000;
    padding: 5px 10px;
    font-size: 2em;
    text-decoration: none; }
    .nav .logo:visited {
      color: #FF3B49; }
  .nav .button {
    border: none;
    margin: 10px 10px;
    height: 30px;
    width: 30px;
    cursor: pointer; }
  .nav .links {
    display: none; }

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
  font-family: 'Philosopher', sans-serif; }
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s; }
    .sidenav a:hover, .offcanvas .sidenav a:focus {
      color: #FF3B49; }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px; }

.video #vid {
  object-fit: initial;
  width: 100%;
  height: 100vh; }

.content {
  display: flex;
  flex-direction: column; }
  .content .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    line-height: 1.5;
    padding: 100px 0;
    font-size: 2em;
    font-family: 'Philosopher', sans-serif;
    font-weight: bold;
    width: 80%;
    color: #000; }
    .content .intro h1 {
      color: #FF3B49; }
  .content .block .text {
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #000;
    color: #fff;
    line-height: 1.3; }
    .content .block .text div h3 {
      width: 85%;
      text-align: left;
      margin: auto;
      font-family: 'Philosopher', sans-serif;
      color: #FF3B49; }
    .content .block .text div p {
      width: 85%;
      margin: auto;
      text-align: left; }
  .content .block .img {
    width: 100%;
    height: 350px;
    background-color: black; }
  .content .block .img1 {
    background: url("../img/food1.jpg"); }
  .content .block .img2 {
    background: url("../img/food2.jpg"); }
  .content .block .img3 {
    background: url("../img/food3.jpg"); }
  .content .block-even {
    display: flex;
    flex-direction: column-reverse; }
    .content .block-even .text {
      background: #F5F5F5;
      color: #000; }
  .content .stuff {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    padding: 100px 0; }
    .content .stuff div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 30px 0; }
      .content .stuff div h3 {
        color: #FF3B49; }
      .content .stuff div img {
        width: 75%;
        margin: auto; }
      .content .stuff div p {
        width: 75%;
        margin: 10px auto;
        line-height: 1.5;
        text-align: center; }

.menu-select {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #FF3B49;
  height: 100px; }
  .menu-select button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 2em;
    color: #fff;
    margin: 15px; }
    .menu-select button:hover {
      color: #000; }
    .menu-select button:focus {
      outline: none; }
  .menu-select .selected {
    color: #000;
    font-weight: bold;
    border-bottom: 3px solid #000; }

.menu {
  background: #000;
  color: #fff;
  margin: auto;
  text-align: center;
  padding: 50px 0; }
  .menu div {
    width: 90%;
    margin: auto;
    text-align: left; }
    .menu div h2 {
      border-bottom: 5px solid #fff; }
    .menu div section {
      margin: 75px auto; }
    .menu div ul {
      text-align: center;
      list-style: none;
      padding: 0;
      margin: 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap; }
      .menu div ul li {
        width: 100%; }
        .menu div ul li h3 {
          text-align: left; }
        .menu div ul li p {
          text-align: left;
          width: 90%; }

.drinks {
  background: #fff;
  color: #000; }
  .drinks div h2 {
    border-bottom: 5px solid #000; }

.desserts {
  color: #fff; }
  .desserts div h2 {
    border-bottom: 5px solid #fff; }

footer {
  background: #FF3B49;
  display: flex;
  flex-direction: column;
  color: #fff;
  padding: 10px 10px; }
  footer h3,
  footer h4 {
    font-family: 'Philosopher', sans-serif; }
  footer h4 {
    color: #000; }
  footer a {
    color: #fff; }
  footer .form {
    display: flex;
    flex-direction: column; }
    footer .form .sign-up {
      width: 50%; }
    footer .form input {
      color: #fff;
      border: none;
      background: transparent;
      border-bottom: 1px solid #000;
      padding: 5px 0; }
      footer .form input:focus {
        outline: none; }
    footer .form input[type="submit"] {
      background: #000;
      color: #fff;
      padding: 5px 10px; }
    footer .form ::-webkit-input-placeholder {
      color: #fff; }
    footer .form :-ms-input-placeholder {
      color: #fff; }
    footer .form ::-moz-placeholder {
      color: #fff;
      opacity: 1; }
    footer .form :-moz-placeholder {
      color: #fff;
      opacity: 1; }
  footer .copyright {
    margin: 0 auto;
    padding: 10px 0;
    text-align: left; }

@media screen and (min-width: 750px) {
  .nav .links {
    display: inline-block;
    font-size: 2em;
    color: black;
    text-decoration: none;
    margin: 0 10px;
    transition: all 0.25s; }
    .nav .links:visited {
      color: #000; }
    .nav .links:hover {
      color: #FF3B49;
      border-bottom: 1px solid #000; }
  .nav .current-page {
    border-bottom: 3px solid #FF3B49; }
  .nav .button {
    display: none; }

  .sidenav {
    display: none; }

  .content .intro {
    padding: 150px 0; }
  .content .block {
    width: 100%;
    display: flex;
    flex-direction: row; }
    .content .block .text {
      width: 50%; }
    .content .block .img {
      width: 50%; }
  .content .stuff {
    flex-direction: row;
    flex-grow: 1; }
    .content .stuff div {
      margin: 0; }
      .content .stuff div img {
        width: 80%; }

  .menu div ul {
    flex-direction: row; }
    .menu div ul li {
      width: 50%; }

  footer {
    flex-direction: row;
    flex-grow: 1;
    flex-basis: 0; }
    footer .contact,
    footer .contact-info,
    footer .form {
      width: 33.5%; }
    footer .contact-info,
    footer .form {
      text-align: right; }
    footer .form {
      text-align: right; }
      footer .form .sign-up {
        width: 100%;
        text-align: right; } }

/*# sourceMappingURL=src.css.map */
