body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Muli', sans-serif;
}

.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 75px;
    width: 100%;
    font-family: 'Philosopher', sans-serif;
    .logo {
        margin-right: auto;
    }
    .button {
        border: none;
        margin: 10px 10px;
        height: 30px;
        width: 30px;
        cursor: pointer;
    }
    .links {
        display: none;
    }
    a {
        font-size: 2em;
        color: black;
        text-decoration: none;
        margin: 0 10px;
        &:visited {
            color: black;
        }
        &:hover {
            color: gray;
        }
    }
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    font-family: 'Philosopher', sans-serif;
    a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
        &:hover,
        .offcanvas &:focus {
            color: #f1f1f1;
        }
    }
    .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
}

.video {
    #vid {
        object-fit: initial;
        width: 100%;
        height: 100vh;
    }
}

.content {
    display: flex;
    flex-direction: column;
    .intro {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        text-align: center;
        padding: 100px 0;
        font-family: 'Philosopher', sans-serif;
        font-weight: bold;
        width: 80%;
    }
    .block {
        .text {
            width: 100%;
            height: 350px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            div {
                h3 {
                    width: 85%;
                    text-align: left;
                    margin: auto;
                    font-family: 'Philosopher', sans-serif;
                }
                p {
                    width: 85%;
                    margin: auto;
                    text-align: left;
                }
            }
        }
        .img {
            width: 100%;
            height: 350px;
            background-color: black;
        }
        .img1 {
            background: url("../img/food1.jpg");
        }
        .img2 {
            background: url("../img/food2.jpg");
        }
        .img3 {
            background: url("../img/food3.jpg");
        }
    }
    .block-odd {
        display: flex;
        flex-direction: column-reverse;
    }
    .stuff {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        text-align: center;
        padding: 100px 0;
        div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 30px 0;
            img {
                width: 70%;
                margin: auto;
            }
            p {
                width: 85%;
                margin: auto;
            }
        }
    }
}

.menu {
    background: #000;
    color: #fff;
    margin: auto;
    text-align: center;
    padding: 50px 0;
    div {
        width: 90%;
        margin: auto;
        text-align: left;
        h1 {
            border-bottom: 1px solid #fff;
        }
        ul {
            text-align: center;
            list-style: none;
            padding: 0;
            margin: 0;
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            li {
                width: 100%;
                h3 {
                    text-align: left;
                }
                p {
                    text-align: left;
                }
            }
        }
    }
}

footer {
    background: #FFED00;
    display: flex;
    flex-direction: column;
    h3,
    h4 {
        font-family: 'Philosopher', sans-serif;
    }
    a {
        color: #000;
    }
    .contact {}
    .contact-info {}
    .form {
        display: flex;
        flex-direction: column;
        .sign-up {
            width: 50%;
        }
        input {
            color: #000;
            border: none;
            background: rgba(0, 0, 0, 0);
            border-bottom: 1px solid #000;
            &:focus {
                outline: none;
            }
        }
        input[type="submit"] {
            background: #000;
            color: #fff;
        }
        ::-webkit-input-placeholder {
            color: #000;
        }
        :-ms-input-placeholder {
            color: #000;
        }
        ::-moz-placeholder {
            color: #000;
            opacity: 1;
        }
        :-moz-placeholder {
            color: #000;
            opacity: 1;
        }
    }
    .copyright {
        margin: 0 auto;
        padding: 10px 0;
        text-align: left;
    }
}

@media screen and (min-width: 700px) {
    .nav {
        .links {
            display: inline-block;
        }
        .button {
            display: none;
        }
    }
    .sidenav {
        display: none;
    }
    .content {
        .intro {
            padding: 200px 0;
        }
        .block {
            width: 100%;
            display: flex;
            flex-direction: row;
            .text {
                width: 50%;
            }
            .img {
                width: 50%;
            }
        }
        .stuff {
            flex-direction: row;
            flex-grow: 1;
            div {
                margin: 0;
                img {
                    width: 80%;
                }
            }
        }
    }
    .menu {
        div {
            ul {
                flex-direction: row;
                li {
                    width: 50%;
                }
            }
        }
    }
    footer {
        flex-direction: row;
        flex-grow: 1;
        flex-basis: 0;
        .contact,
        .contact-info,
        .form {
            width: 33.5%;
        }
        .contact-info,
        .form {
            text-align: right;
        }
        .form {
            text-align: right;
            .sign-up {
                width: 100%;
                text-align: right;
            }
        }
    }
}
